.text{
    display:flex;
    align-items: center;
}
h1{
    /* position:absolute;
    top:10px;
    left:3rem; */
    float:left;
    width: 30px;
}
.testing{
   
    /* position: relative;
    left:34rem;
    top:10px; */
    float:left;
    width: 30px;
}
.testing1{
   
    /* left:58rem;
    top:10px; */
    float:left;
    width: 30px;
}